* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}
.icon-container {
  position: absolute;
  top: 53px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.5s;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 6px;
  background-color: #f4f4f4;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 13px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

header .container {
  background-color: #1b1b1b;
  color: white;
  height: 0px;
  display: flex;
  align-items: center;
}
header .container .side-bar {
  position: fixed;
  height: 100%;
  width: 0px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1b1b1b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}
header .container .side-bar a {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.663);
  margin: 15px;
  font-size: 20px;
  padding: 20px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  transition: all 0.3s;
}
header .container .side-bar a:not(#contact-us)::after {
  display: block;
  margin: auto;
  margin-top: 10px;
  content: "";
  background-color: #f78702;
  height: 2px;
  width: 0%;
  transition: all 0.3s;
}
header .container .side-bar a:not(#contact-us):hover {
  color: #f78702;
}
header .container .side-bar a:not(#contact-us):hover::after {
  width: 100%;
}
header .container .side-bar #contact-us {
  border: 2px solid rgba(255, 255, 255, 0.663);
  border-radius: 40px;
  margin-top: 15px;
  padding: 13px;
  font-size: 20px;
}
header .container .side-bar #contact-us:hover {
  border: 2px solid #f78702;
  color: #f78702;
  background-color: black;
}
header .container .side-bar a:nth-child(5) {
  color: white;
}

header .headSection {
  font-size: 22px;
  padding: 50px;
  padding-left: 100px;
  background-color: rgb(27, 27, 27);
  color: white;
  height: 150px;
}

header .headSection h1 {
  transition: all 0.5s;
  width: fit-content;
}
.content {
  position: relative;
}
.content .buttonSection {
  margin: 7% auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  transition: all 0.5s;
  width: max-content;
  padding-left: 0px;
  margin-top: 175px;
}
.content .buttonSection button {
  width: 300px;
  height: 150px;
  background-color: rgb(31, 31, 31);
  color: white;
  font-size: 30px;
  padding: 20px;
  margin: 25px;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 5px 8px rgba(62, 62, 62, 0.968);
  cursor: pointer;
  pointer-events: visible;
  transition: all 0.3s;
}

.content .buttonSection button:hover {
  background-color: rgb(17, 17, 17);
  transform: translateY(-10px);
}
