body,
html {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: lavender;
}

.submit {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.submit button {
  text-transform: uppercase;
  margin-left: 130px;
  padding: 9px;
  font-size: 20px;
  outline: none;
  border: 2px solid #707070;
  border-radius: 30px;
  width: 35%;
  cursor: pointer;
  transition: all 0.4s;
  background-color: white;
  margin-top: 30px;
}
.submit button:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}
.submit button a {
  color: black;
  text-decoration: none;
}
.submit button:hover a {
  color: white;
}

.bt {
  margin-right: 120px;
  height: 50px;
  font-weight: bold;
}

.message {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

#back {
  width: 150px;
}
