*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}
/* HEADER SECTION */
header{
    background-color: black;
    color: white;
    display: flex;
    padding: 30px;
}
header .menu-bar a{
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.663);
    margin: 15px;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s;
}
header .menu-bar a:not(#contact-us)::after{
    display: block;
    margin:auto;
    margin-top: 10px;
    content: "";
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 0%;
    transition: all 0.3s;
}
header .menu-bar a:not(#contact-us):hover{
    color: white;
}
header .menu-bar a:not(#contact-us):hover::after{
    width: 100%;
}
header .menu-bar #contact-us{
    border: 2px solid rgba(255, 255, 255, 0.663);
    border-radius: 40px;
    padding: 13px;
    font-size: 20px;
} 
header .menu-bar #contact-us:hover{
    border: 2px solid white;
    color: black;
    background-color: white;
}
header .menu-bar a:nth-child(2){
    color: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container h1{
    color: rgb(71, 71, 71);
    margin-top: 70px;
}
.container hr{
    background-color: rgba(85, 85, 85, 0.722);
    width: 20%;
    height: 4px;
    margin: 10px auto;
    margin-bottom: 60px;
}
.container .content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.container .content .member{
    width: 25vw;
    height: auto; 
    margin: 20px; 
    padding: 20px; 
    box-shadow: 0px 2px 6px rgb(131, 131, 131);
    transition: 0.5s ease-in-out;
    box-sizing:border-box;
}
.container .content .member img{
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 50%;
}
.container .content .member h2{
    color: black;
    font-size: 21px;
    letter-spacing: 0.02cm;
    margin-bottom: 15px;
}
.container .content .member p{
    color: grey;
    letter-spacing: 0.05cm;
    text-transform: capitalize;
    font-size: 17px;
}
.container .content .member .icons{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 25px;
}
.container .content .member .icons span{
    margin: auto;
    margin: 10px;
}
.container .content div:nth-child(1) img{
    border: 5px solid rgb(25, 224, 255);
}
.container .content div:nth-child(2) img{
    border: 5px solid rgba(24, 238, 74, 0.945);
}
.container .content div:nth-child(3) img{
    border: 5px solid rgba(129, 32, 232, 0.796);
}
.container .content div:nth-child(4) img{
    border: 5px solid rgb(238, 138, 24);
}

.container .content div:nth-child(1):hover{
    transform: scale(1.05);
    color: white;
    background-color: black;
}
.container .content div:nth-child(1):hover h2{
    color: white;
}
.container .content div:nth-child(1):hover p{
    color: white;
}
.container .content div:nth-child(1):hover img{
    border: 5px solid rgb(76, 155, 168)
}
.container .content div:nth-child(2):hover{
    transform: scale(1.05);
    color: white;
    background-color: black;
}
.container .content div:nth-child(2):hover h2{
    color: white;
}
.container .content div:nth-child(2):hover p{
    color: white;
}
.container .content div:nth-child(2):hover img{
    border: 5px solid rgba(65, 170, 90, 0.945);
}
.container .content div:nth-child(3):hover{
    transform: scale(1.05);
    color: white;
    background-color: black;
}
.container .content div:nth-child(3):hover h2{
    color: white;
}
.container .content div:nth-child(3):hover p{
    color: white;
}
.container .content div:nth-child(3):hover img{
    border: 5px solid rgba(80, 47, 115, 0.796);
}
.container .content div:nth-child(4):hover{
    transform: scale(1.05);
    color: white;
    background-color: black;
}
.container .content div:nth-child(4):hover h2{
    color: white;
}
.container .content div:nth-child(4):hover p{
    color: white;
}
.container .content div:nth-child(4):hover img{
    border: 5px solid rgba(244, 186, 119, 0.796);
} 
.container .content div:nth-child(5):hover{
    transform: scale(1.05);
    color: white;
    background-color: black;
}
.container .content div:nth-child(5):hover h2{
    color: white;
}
.container .content div:nth-child(5):hover p{
    color: white;
}
.container .content div:nth-child(6):hover{
    transform: scale(1.05);
    color: white;
    background-color: black;
}
.container .content div:nth-child(6):hover h2{
    color: white;
}
.container .content div:nth-child(6):hover p{
    color: white;
}
.container .content div:nth-child(7):hover{
    transform: scale(1.05);
    color: white;
    background-color: black;
}
.container .content div:nth-child(7):hover h2{
    color: white;
}
.container .content div:nth-child(7):hover p{
    color: white;
}
.container .content div:nth-child(8):hover{
    transform: scale(1.05);
    color: white;
    background-color: black;
}
.container .content div:nth-child(8):hover h2{
    color: white;
}
.container .content div:nth-child(8):hover p{
    color: white;
}
.container .content div:nth-child(9):hover{
    transform: scale(1.05);
    color: white;
    background-color: black;
}
.container .content div:nth-child(9):hover h2{
    color: white;
}
.container .content div:nth-child(9):hover p{
    color: white;
}

.headSection {
    display: flex;

    margin: 60px 30px 70px 30px;
}

.storeDetails {
    display: block;
    justify-content: left;
}

.storename {
    font-size: 70px;
    text-align: left;
    padding-right: 80px;
}

.submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:40px;
    gap: 10px;
}
.submit button{
    text-transform: uppercase;
	font-size:20px;
	outline:none;
	border:2px solid white;
	border-radius: 30px;
	width:100px;
	cursor:pointer;
    height:40px;
    transition: all 0.4s;
}
 .submit button:hover{
  background-color: black;
  color: white;
}
.submit button a{
    color: black;
    text-decoration: none;
}
.submit button:hover a{
    color: white;
}
