*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}