*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: white;
    width:100%;
}
.container{
    background-color: #1B1B1B;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    
}
.container .side-bar{
    position:fixed;
    height:100%;
    width: 0px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1B1B1B;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.container .side-bar a{
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.663);
    margin: 15px;
    font-size: 20px;
    padding: 25px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    transition: all 0.3s;
}
.container .side-bar a:not(#contact-us)::after{
    display: block;
    margin:auto;
    margin-top: 10px;
    content: "";
    background-color:#F78702;
    height: 2px;
    width: 0%;
    transition: all 0.3s;
}
.container .side-bar a:not(#contact-us):hover{
    color: #F78702;
}
.container .side-bar a:not(#contact-us):hover::after{
    width: 100%;
}
.container .side-bar #contact-us{
    border: 2px solid rgba(255, 255, 255, 0.663);
    border-radius: 40px;
    padding: 13px;
    font-size: 20px;
} 
.container .side-bar #contact-us:hover{
    border: 2px solid #F78702;
    color: #F78702;
    background-color: black;
}
.container .side-bar a:nth-child(1){
    color: white;
}
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

 
.container .name{
    position: relative;
    left:50px;
    font-family: "Merriweather",serif;
    font-weight: 700;
    font-style: italic;
    text-align: left;
    
}
.side-line{
    display: inline-block;
    position: relative;
   top:325px;
   right: 100px;
    width:4px;
    height:50px;
    margin-left: 0px;
    border-radius: 2px;
    z-index:110;
    
    margin-right: 7px;
    background-color: #1B1B1B;
    transition: margin-right 0.3 ease;
}
.side-line-container{
    display: flex;
    position: relative;
    left:-35px;
    padding:0px;
    margin-left: 0px;
    transition: 0.5s;
}
.home-load{
    display: block;
    background-image: url('Untitled design.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    width:100%;
    
}
.shop-management{
    padding-top: 30px;
    margin-left: 40px;
    font-family: "Merriweather",serif;
}
.byline{
    margin-left: 40px;
    margin-top: 60px;
    font-family: "Merriweather",serif;
}
.getstarted{
    display: flex;
    height:430px;
    background-color:#1B1B1B ;
    width:330px;
    border-radius: 6px;
    position:relative;
    justify-content: center;
    text-align: center;
    bottom:50px;
    right:150px;
    float:right;
    padding:0 20px;
    flex-direction: column;


}
.getstarted h2{
    font-family: "Merriweather",serif;
    position: relative;
    top:-60px;
    font-size: 40px;
    font-weight: bold;

    color:white;
    
    

    margin:0;
    padding:0;
}
.getstarted h4{
    position: relative;
    top:-35px;
    font-family:sans-serif;
    color:white;
    font-size: 18px;
    font-weight: 100;

    margin:0;
    padding:0;

}
.getstarted a{
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    padding: 15px;
    margin:30px;
    font-size: larger;
    text-decoration: none;
}
.getstarted a:hover{
    border: 2px solid #F78702;
    color: #F78702;
    transition: all 0.3s;
    background-color: black;
    
}
.getstarted .signup{
    position: relative;
    top:-35px;
}
.getstarted .already{
    position: relative;
    top:-20px;
}
.getstarted .login{
    position: relative;
    top:20px;
}